flowmaker/flows-v3.json
[
    {
        "id": "56e51891.a689c8",
        "type": "tab",
        "label": "datasource-listener",
        "disabled": false,
        "info": ""
    },
    {
        "id": "924b2512.9bf9b8",
        "type": "websocket in",
        "z": "56e51891.a689c8",
        "name": "ws-inlet",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "a616c94c.ebf718"
            ]
        ]
    },
    {
        "id": "7a560862.c17328",
        "type": "websocket out",
        "z": "56e51891.a689c8",
        "name": "ws-outlet",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "bb52ee83.9c48e",
        "type": "switch",
        "z": "56e51891.a689c8",
        "name": "router",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "search",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "bd00ad71.941598"
            ],
            [
                "7bf4e094.bedaa8"
            ]
        ]
    },
    {
        "id": "a616c94c.ebf718",
        "type": "json",
        "z": "56e51891.a689c8",
        "name": "json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "bb52ee83.9c48e"
            ]
        ]
    },
    {
        "id": "5d460ed6.da5168",
        "type": "ui_dropdown",
        "z": "56e51891.a689c8",
        "name": "search-results",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "88a01935.85108",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "253ad1c.b28a3ae"
            ]
        ],
        "icon": "node-red/debug.svg"
    },
    {
        "id": "c9f4d3d8.d6f118",
        "type": "ui_button",
        "z": "56e51891.a689c8",
        "name": "refresh-button",
        "group": "88a01935.85108",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "c9e5c538.2e0898",
                "6ae25ddd.473134"
            ]
        ]
    },
    {
        "id": "2dd0e586.53ebe2",
        "type": "ui_button",
        "z": "56e51891.a689c8",
        "name": "confirm-button",
        "group": "88a01935.85108",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"subscribe\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "bf48cc4e.aa03f8",
                "c9e5c538.2e0898"
            ]
        ]
    },
    {
        "id": "7bf4e094.bedaa8",
        "type": "change",
        "z": "56e51891.a689c8",
        "name": "recv-data",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.chunk[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "1688c691.f81d31"
            ]
        ]
    },
    {
        "id": "253ad1c.b28a3ae",
        "type": "change",
        "z": "56e51891.a689c8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stream",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bf48cc4e.aa03f8",
        "type": "change",
        "z": "56e51891.a689c8",
        "name": "subscribe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"subscribe\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "stream",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "7a560862.c17328"
            ]
        ]
    },
    {
        "id": "c9e5c538.2e0898",
        "type": "change",
        "z": "56e51891.a689c8",
        "name": "search",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"search\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "7a560862.c17328"
            ]
        ]
    },
    {
        "id": "bd00ad71.941598",
        "type": "function",
        "z": "56e51891.a689c8",
        "name": "recv-streams",
        "func": "const payload = msg.payload.data.streams;\nconst options = payload.map(function(val) {\n    \n    var desc = val.attributes ? Object.values(val.attributes).join(): null;\n    var key = `[${val.type.toUpperCase()}] ${val.name}`;\n    var key = desc ? `${key} (${desc})` : key;\n    return {[key]: val};\n});\nnode.send({...msg, payload, options});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "5d460ed6.da5168"
            ]
        ]
    },
    {
        "id": "1688c691.f81d31",
        "type": "ui_template",
        "z": "56e51891.a689c8",
        "group": "e78659aa.c5ad78",
        "name": "gaze-visualizer",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<canvas id=\"canvas\" oncontextmenu=\"event.preventDefault()\" style=\"margin: 0; padding: 0; border: 1px solid black; width: 100%; box-sizing: border-box;\"></canvas>\n\n<script type='text/javascript'>\n    var c = document.getElementById('canvas');\n    c.height = c.width * (9 / 16);\n    c.clientHeight = c.height;\n    c.clientWidth = c.width;\n    var draw = (t, scope, data) => {\n        if (data && data[0] > 0 && data[1] > 0 && (!scope.ts || scope.ts < t)) {\n            scope.ts = t;\n            var w = c.width;\n            var h = c.height;\n            var x = (data[0] * w);\n            var y = (data[1] * h);\n            var ctx = c.getContext(\"2d\");\n            ctx.clearRect(0, 0, w, h);\n            ctx.fillStyle = \"black\";\n            ctx.beginPath();\n            console.log([x,y]);\n            ctx.arc(x, y, 5, 0, 2 * Math.PI);\n            ctx.fill(); \n        }\n    }\n    ((scope) => {\n        scope.$watch('msg.payload', (data) => {\n            window.requestAnimationFrame((t) => draw(t, scope, data));\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "6ae25ddd.473134",
        "type": "change",
        "z": "56e51891.a689c8",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "stream",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "d66bd9ea.f4c148",
        "type": "websocket-client",
        "path": "ws://localhost:8765/ws",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "88a01935.85108",
        "type": "ui_group",
        "name": "Select Stream",
        "tab": "ee2cfb6d.76bae",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "e78659aa.c5ad78",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "ee2cfb6d.76bae",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "ee2cfb6d.76bae",
        "type": "ui_tab",
        "name": "Stream Listener",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]