node-red-addons/streaminghub-nodes/flows-v4.json
[
    {
        "id": "b347c2d0aceffbb4",
        "type": "tab",
        "label": "datasource-listener",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9045cf9db7d83a3c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d66bd9ea.f4c148",
        "type": "websocket-client",
        "path": "ws://localhost:8765/ws",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "88a01935.85108",
        "type": "ui_group",
        "name": "Select Stream",
        "tab": "ee2cfb6d.76bae",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "e78659aa.c5ad78",
        "type": "ui_group",
        "name": "Visualization",
        "tab": "ee2cfb6d.76bae",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "ee2cfb6d.76bae",
        "type": "ui_tab",
        "name": "Stream Listener",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dae66bd92385a959",
        "type": "websocket in",
        "z": "b347c2d0aceffbb4",
        "name": "ws-inlet",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 110,
        "y": 260,
        "wires": [
            [
                "d4c42006be5a569c"
            ]
        ]
    },
    {
        "id": "6bb88f09b0787af9",
        "type": "websocket out",
        "z": "b347c2d0aceffbb4",
        "name": "ws-outlet",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 540,
        "y": 460,
        "wires": []
    },
    {
        "id": "4f6c14be5ee9e77c",
        "type": "switch",
        "z": "b347c2d0aceffbb4",
        "name": "router",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "search",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 260,
        "wires": [
            [
                "8c25735e0d670639"
            ],
            [
                "f5e3c819d57ef08a"
            ]
        ]
    },
    {
        "id": "d4c42006be5a569c",
        "type": "json",
        "z": "b347c2d0aceffbb4",
        "name": "json",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "4f6c14be5ee9e77c"
            ]
        ]
    },
    {
        "id": "64e1dd9d7af9bccb",
        "type": "ui_dropdown",
        "z": "b347c2d0aceffbb4",
        "name": "search-results",
        "label": "",
        "tooltip": "",
        "place": "",
        "group": "88a01935.85108",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "multiple": true,
        "options": [],
        "payload": "",
        "topic": "",
        "x": 700,
        "y": 220,
        "wires": [
            [
                "d5bbc77143425d1a"
            ]
        ],
        "icon": "node-red/debug.svg"
    },
    {
        "id": "f69dbef325454950",
        "type": "ui_button",
        "z": "b347c2d0aceffbb4",
        "name": "refresh-button",
        "group": "88a01935.85108",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "x": 140,
        "y": 560,
        "wires": [
            [
                "3a47c6d5e1370612",
                "b7172842a0106221"
            ]
        ]
    },
    {
        "id": "1403a084f751195d",
        "type": "ui_button",
        "z": "b347c2d0aceffbb4",
        "name": "confirm-button",
        "group": "88a01935.85108",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"command\":\"subscribe\"}",
        "payloadType": "json",
        "topic": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "f60bd2bb85d4cf90",
                "3a47c6d5e1370612"
            ]
        ]
    },
    {
        "id": "f5e3c819d57ef08a",
        "type": "change",
        "z": "b347c2d0aceffbb4",
        "name": "recv-data",
        "rules": [
            {
                "t": "move",
                "p": "payload.data.chunk[0]",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "1a38fc4d0b7d14b0"
            ]
        ]
    },
    {
        "id": "d5bbc77143425d1a",
        "type": "change",
        "z": "b347c2d0aceffbb4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "stream",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 900,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f60bd2bb85d4cf90",
        "type": "change",
        "z": "b347c2d0aceffbb4",
        "name": "subscribe",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"subscribe\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "payload.data",
                "pt": "msg",
                "to": "stream",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 460,
        "wires": [
            [
                "6bb88f09b0787af9"
            ]
        ]
    },
    {
        "id": "3a47c6d5e1370612",
        "type": "change",
        "z": "b347c2d0aceffbb4",
        "name": "search",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"command\":\"search\"}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 350,
        "y": 500,
        "wires": [
            [
                "6bb88f09b0787af9"
            ]
        ]
    },
    {
        "id": "8c25735e0d670639",
        "type": "function",
        "z": "b347c2d0aceffbb4",
        "name": "recv-streams",
        "func": "const payload = msg.payload.data.streams;\nconst options = payload.map(function(val) {\n    \n    var desc = val.attributes ? Object.values(val.attributes).join(): null;\n    var key = `[${val.type.toUpperCase()}] ${val.name}`;\n    var key = desc ? `${key} (${desc})` : key;\n    return {[key]: val};\n});\nnode.send({...msg, payload, options});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 510,
        "y": 220,
        "wires": [
            [
                "64e1dd9d7af9bccb"
            ]
        ]
    },
    {
        "id": "1a38fc4d0b7d14b0",
        "type": "ui_template",
        "z": "b347c2d0aceffbb4",
        "group": "e78659aa.c5ad78",
        "name": "gaze-visualizer",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>\n<canvas id=\"canvas\" oncontextmenu=\"event.preventDefault()\" style=\"margin: 0; padding: 0; border: 1px solid black; width: 100%; box-sizing: border-box;\"></canvas>\n\n<script type='text/javascript'>\n    var c = document.getElementById('canvas');\n    c.height = c.width * (9 / 16);\n    c.clientHeight = c.height;\n    c.clientWidth = c.width;\n    var draw = (t, scope, data) => {\n        if (data && data[0] > 0 && data[1] > 0 && (!scope.ts || scope.ts < t)) {\n            scope.ts = t;\n            var w = c.width;\n            var h = c.height;\n            var x = (data[0] * w);\n            var y = (data[1] * h);\n            var ctx = c.getContext(\"2d\");\n            ctx.clearRect(0, 0, w, h);\n            ctx.fillStyle = \"black\";\n            ctx.beginPath();\n            console.log([x,y]);\n            ctx.arc(x, y, 5, 0, 2 * Math.PI);\n            ctx.fill(); \n        }\n    }\n    ((scope) => {\n        scope.$watch('msg.payload', (data) => {\n            window.requestAnimationFrame((t) => draw(t, scope, data));\n        });\n    })(scope);\n</script>\n",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 700,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "b7172842a0106221",
        "type": "change",
        "z": "b347c2d0aceffbb4",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "stream",
                "pt": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 560,
        "wires": [
            []
        ]
    }
]