node-red-addons/streaminghub-nodes/flows-v2.json
[{"id":"56e51891.a689c8","type":"tab","label":"metastream-listener","disabled":false,"info":""},{"id":"924b2512.9bf9b8","type":"websocket in","z":"56e51891.a689c8","name":"ws-inlet","server":"","client":"d66bd9ea.f4c148","x":70,"y":260,"wires":[["a616c94c.ebf718"]]},{"id":"7a560862.c17328","type":"websocket out","z":"56e51891.a689c8","name":"ws-outlet","server":"","client":"d66bd9ea.f4c148","x":500,"y":480,"wires":[]},{"id":"bb52ee83.9c48e","type":"switch","z":"56e51891.a689c8","name":"router","property":"payload.command","propertyType":"msg","rules":[{"t":"eq","v":"search","vt":"str"},{"t":"eq","v":"data","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":260,"wires":[["bd00ad71.941598"],["7bf4e094.bedaa8"]]},{"id":"a616c94c.ebf718","type":"json","z":"56e51891.a689c8","name":"parse","property":"payload","action":"obj","pretty":false,"x":190,"y":260,"wires":[["bb52ee83.9c48e"]]},{"id":"424018e1.356278","type":"ui_text","z":"56e51891.a689c8","group":"88a01935.85108","order":0,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"col-center","x":610,"y":280,"wires":[]},{"id":"5d460ed6.da5168","type":"ui_dropdown","z":"56e51891.a689c8","name":"search-results","label":"","tooltip":"","place":"","group":"88a01935.85108","order":1,"width":0,"height":0,"passthru":false,"multiple":false,"options":[],"payload":"","topic":"","x":660,"y":220,"wires":[["253ad1c.b28a3ae"]],"icon":"node-red/debug.svg"},{"id":"c9f4d3d8.d6f118","type":"ui_button","z":"56e51891.a689c8","name":"refresh-button","group":"88a01935.85108","order":2,"width":0,"height":0,"passthru":false,"label":"Refresh","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"","x":100,"y":520,"wires":[["c9e5c538.2e0898"]]},{"id":"2dd0e586.53ebe2","type":"ui_button","z":"56e51891.a689c8","name":"confirm-button","group":"88a01935.85108","order":2,"width":0,"height":0,"passthru":false,"label":"Confirm","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"subscribe\"}","payloadType":"json","topic":"","x":100,"y":460,"wires":[["bf48cc4e.aa03f8","c9e5c538.2e0898"]]},{"id":"7bf4e094.bedaa8","type":"change","z":"56e51891.a689c8","name":"recv-data","rules":[{"t":"move","p":"payload.data.chunk","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":460,"y":280,"wires":[["424018e1.356278"]]},{"id":"253ad1c.b28a3ae","type":"change","z":"56e51891.a689c8","name":"","rules":[{"t":"set","p":"stream","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[[]]},{"id":"bf48cc4e.aa03f8","type":"change","z":"56e51891.a689c8","name":"subscribe","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"subscribe\"}","tot":"json"},{"t":"set","p":"payload.data","pt":"msg","to":"stream","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":460,"wires":[["7a560862.c17328"]]},{"id":"c9e5c538.2e0898","type":"change","z":"56e51891.a689c8","name":"search","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"command\":\"search\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":520,"wires":[["7a560862.c17328"]]},{"id":"bd00ad71.941598","type":"function","z":"56e51891.a689c8","name":"recv-streams","func":"const payload = msg.payload.data.streams;\nconst options = payload.map(function(val) {\n    const key = val.type + \", \" + val.name;\n    return {[key]: val};\n});\nnode.send({...msg, payload, options});","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":220,"wires":[["5d460ed6.da5168"]]},{"id":"d66bd9ea.f4c148","type":"websocket-client","path":"ws://localhost:8765/ws","tls":"","wholemsg":"false"},{"id":"88a01935.85108","type":"ui_group","name":"Select Stream","tab":"ee2cfb6d.76bae","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee2cfb6d.76bae","type":"ui_tab","name":"Stream Listener","icon":"dashboard","disabled":false,"hidden":false}]