streaminghub_datamux/interop/node_red/flows-v1.json
[
    {
        "id": "5102f0f5.4735c8",
        "type": "tab",
        "label": "metastream-listener",
        "disabled": false,
        "info": ""
    },
    {
        "id": "fd212744.d30e88",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "e10817f6.93b83",
        "type": "websocket-listener",
        "path": "localhost:8765/ws",
        "wholemsg": "false"
    },
    {
        "id": "d66bd9ea.f4c148",
        "type": "websocket-client",
        "path": "ws://localhost:8765/ws",
        "tls": "",
        "wholemsg": "false"
    },
    {
        "id": "ee2cfb6d.76bae",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88a01935.85108",
        "type": "ui_group",
        "name": "Default",
        "tab": "ee2cfb6d.76bae",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d4591147.baa6",
        "type": "websocket in",
        "z": "5102f0f5.4735c8",
        "name": "ws-in",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "c4f159b8.e5ef38"
            ]
        ]
    },
    {
        "id": "274b5ddd.672812",
        "type": "function",
        "z": "5102f0f5.4735c8",
        "name": "search",
        "func": "node.send({payload: {command: 'search'}});\nnode.log(\"issued search command\");",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 550,
        "y": 400,
        "wires": [
            [
                "9a2c76d3.d45158"
            ]
        ]
    },
    {
        "id": "9a2c76d3.d45158",
        "type": "websocket out",
        "z": "5102f0f5.4735c8",
        "name": "ws-out",
        "server": "",
        "client": "d66bd9ea.f4c148",
        "x": 730,
        "y": 220,
        "wires": []
    },
    {
        "id": "dfd526fe.78b4d8",
        "type": "inject",
        "z": "5102f0f5.4735c8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 400,
        "wires": [
            [
                "274b5ddd.672812"
            ]
        ]
    },
    {
        "id": "118b4126.2fc857",
        "type": "switch",
        "z": "5102f0f5.4735c8",
        "name": "router",
        "property": "payload.command",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "search",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "data",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 240,
        "wires": [
            [
                "420b456f.cac0ec"
            ],
            [
                "72d77e.74392884"
            ]
        ]
    },
    {
        "id": "420b456f.cac0ec",
        "type": "function",
        "z": "5102f0f5.4735c8",
        "name": "subscribe",
        "func": "node.log(\"received stream list\");\nvar stream = msg.payload.data.streams[0];\nnode.log(\"subscribing to first stream\", stream);\nnode.send({\n    payload: {\n        command: 'subscribe', \n        data: { \n            id: stream.id,\n            name: stream.name,\n            type: stream.type\n        }\n    }\n})",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 440,
        "y": 220,
        "wires": [
            [
                "9a2c76d3.d45158"
            ]
        ]
    },
    {
        "id": "c4f159b8.e5ef38",
        "type": "json",
        "z": "5102f0f5.4735c8",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 170,
        "y": 240,
        "wires": [
            [
                "118b4126.2fc857"
            ]
        ]
    },
    {
        "id": "72d77e.74392884",
        "type": "function",
        "z": "5102f0f5.4735c8",
        "name": "data",
        "func": "node.log('received data: ' + msg.payload.data.stream);\nnode.send({payload: msg.payload.data.chunk});",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 300,
        "wires": [
            [
                "5c365d28.50442c"
            ]
        ]
    },
    {
        "id": "5c365d28.50442c",
        "type": "ui_text",
        "z": "5102f0f5.4735c8",
        "group": "88a01935.85108",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 570,
        "y": 300,
        "wires": []
    }
]